{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Up Your Files!!! {{ user.username }}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>
<body>
    <div id="content">
        <header>
            <span id="logo">

            </span>
        </header>


  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <a class="navbar-brand" href="{% url 'Home' %}" title="Ultimos archivos subidos a la red"><i class="fa fa-list fa-2x" aria-hidden="true"></i></a>
        {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'HomeUser' %}" title="Listado de tus archivos {{ user.username }}"><i class="fa fa-file-text fa-2x" aria-hidden="true"></i></a>
            <a class="navbar-brand" href="{% url 'NewFile' %}" title="Subir Archivo Nuevo"><i class="fa fa-upload fa-2x" aria-hidden="true"></i></a>
        {% endif %}
    </div>
                  {% if user.is_authenticated %}
                         <a class="navbar-brand">Hola {{ user.username }}<img width="50px" src="/media/{{ user.member.avatar }}"></a>
                         <a class="navbar-brand" href="{% url 'Logout' %}"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
                    {% else %}
                        <a class="navbar-brand" href="{% url 'NewUploader' %}"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></a>
                        <a class="navbar-brand" href="{% url 'Login' %}"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i></a>
                    {% endif %}


  </nav>

        <section>
            <div class="row p-1">
            {% block cuerpo %}
            {% endblock %}
            </div>
        </section>
        <footer></footer>
    </div>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>
