<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error!! Pagina Invalida!!</title>
</head>
<body>
    <h2>Error Pagina no encontrada!!!</h2>
    <img src="{%  static "img/error.jpg" %}"width="100px">
</body>
</html>