{% extends 'base.html' %}
{% load staticfiles %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
    {% block title %}
        hola
    {% endblock %}
    </title>

</head>
<body>

{% block cuerpo %}
  {% if user.is_authenticated %}
    <b class="h2"> Bienvenido a la app de subir archivitos xD tarara

   {% else %}
    Usted no Esta autentificado, <a href="{% url 'Login' %}">Autentifiquese</a>
   {% endif %}


{% endblock %}
</body>

</html>