{% extends 'base.html' %}
{% load staticfiles %}
{% block cuerpo %}
<div class="col-md-12">
    <div id="loginBox" class="PopUp">
        <div class="loginBoxContent">

            <div class="col-md-4 p-3 container bg-red text-center">
                <div class="headerLogin">
                    <span class="ui-icon ui-icon-locked"></span><p>Login</p>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <p><label for="username">Nombre de Usuario</label></p>
                    <p>{{ form.username }}</p>
                    <p id="password"><label for="password">Contraseña</label></p>
                    <p>{{ form.password }}</p>
                    <div class="buttonsLogin">
                        <span class="btn_acept"><input type="submit" value="Let's go!"/></span>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}