{% extends 'base.html' %}
{% load staticfiles %}
{% block cuerpo %}

    <form enctype="multipart/form-data"  method="post" class="formulario"  >
    {% csrf_token %}
        <div class="headerUsuarios">
            <div class="title_header">

                <h1> Nuevo Uploader:</h1>
            </div>

        </div>

        <div class="form_center">

            <hr>
            {{ form.as_p }}
            {{ member_form.as_p }}
            <hr>
        </div>


        <div class="submitUsuario">
            <input type="submit" value="New Uploader">
        </div>
    </form>
{% endblock %}