{% extends 'base.html' %}

{% block cuerpo %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  <p><a href="{% url 'Home' %}">Return to home</a></p>
{% endblock %}