{% extends 'base.html' %}

{% block cuerpo %}
<div class="col-md-12">
    <h2>Últimos archivos compartidos por los usuarios:</h2>

    {%  for archivo in object_list %}
            <div class="col-md-12 "><a class="h5 m-y-3 " target="_blank" href="{{ archivo.file.url }}">{{ archivo.filename }}</a>
                 [ Usuario:{{ archivo.upload_by.member.username }} - Fecha:{{ archivo.upload_at }} ]</div>
            <div class="col-md-12 text-left">{{ archivo.description }}</div>
    {%  endfor %}
</div>
{% endblock %}