{% extends 'base.html' %}

{% block cuerpo %}
    <div class="col-md-12">
<h2>Listado de tus archivos {{ user.username }}:</h2>

    {%  for archivo in archivos %}
            <div class="col-md-12 "><a class="h5 m-y-3 " target="_blank" href="{{ archivo.file.url }}">{{ archivo.filename }}</a>
                 [ Subido el {{ archivo.upload_at }} - estado Publico del archivo: {{ archivo.show_public }}]</div>
            <div class="col-md-12 text-left">{{ archivo.description }}</div>
    {%  endfor %}
    </div>

{% endblock %}